@charset "UTF-8"


*{
    
    font-family: Arial, Helvetica, sans-serif;
    
    height: 100%;    
    }
body {
    background-image: linear-gradient(to bottom , rgba(0, 0, 255, 0.863), #3e3f9b, #686494);
    background-attachment: fixed;
  
}
header {
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    box-shadow: 5px 8px 7px 3px rgba(0, 0, 0, 0.555);
    max-width: 800px;
    min-height: 140px;
    padding: 10px;
    margin: auto;
    border: 15px white;
    margin: auto;
}
h1 {
    color:white ;
    text-align: center;
}
li:hover{
    color: red;
    text-decoration: underline;

}
main{
    border: 6px;
    border-style:solid;
    min-height: 200px;
    max-width: 284px;
}
.destaque{
  
    color: red;
    font-size: 3em;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    box-shadow: 5 px 5px 5px white;
  
}